// Descriptive Base Colors

// General Colors
$white: #fff;
$black: #000;

//Brand Colors
$verde-azul: #50E2C1;
$verde-lima: #5DFE97;
$verde: #50E2C1;
$morado: #A600FF;
$magenta: #FF157E;
$danger-light: #FEECF0;
$danger: #F14668;
$naranja: #FFCC1F;
$warning: #FFFB8A;
$amarillo: #FEFF01;
$cian: #00EAFF;
$gris: #B9B9B9;
$carbon: #1A1A1A;

$color-primary: $verde;
$color-secondary: $black;