.c-form-finder {
  width: 100%;
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(flex-end);

  @include e(group) {
    @include flexbox;
    @include flex-dir(column);

    input, select {
      margin-top: 5px;
      padding: 8px 10px;
      height: 40px;
      border-radius: 4px;
      border: 1px solid $gris;
      font-family: $font-family-primary;
    }

    input[type=text] {
      width: 514px;
    }

    input[type=number] {
      width: 120px;
      text-align: right;
    }

    select {
      width: 160px;
    }

    button {
      width: 160px;
    }
  }
}