{% extends 'core/main.html' %}
{% load dataforseo_extras %}
{% block title %}Habitant Seo{% endblock %}

{% block content %}
{% if resultado == None%}
<section class="c-header">
  <div class="c-header__container u-wrapper">
    <div class="c-header__content">
      <h1 class="o-h1 u-text-center">Keyword List</h1>
      <p class="o-subtitle u-text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
    </div>
  </div>
</section>
{% endif %}

<section class="o-section o-section--bg-dark">
  <div class="u-wrapper u-wrapper--narrow"> 
    <div class="o-section__container">
      <form id="keywordList" action="{% url 'dataforseo:keywordbulk' %}" method="post">{% csrf_token %}

        <div class="c-form-bulk__group">
          <p class="">Número de keywords: <strong id="n_keywords">0</strong></p>
          <label class="label">{{form.keywords.label}}:</label>
          {{form.keywords}}

          <button id="send_keywordList" class="o-button">Enviar</button>
        </div>

        <div class="c-form-bulk__group">
          <label class="label" for="">{{form.language.label}}</label>
          {{form.language}}
        </div>


        {% comment %} Campos ocultos del formulario {% endcomment %}
        <div class="u-hide">
          {{form.method}}
          <input type="text" id="user" value="{{user.username}}" disabled>
          {{form.user}}
          {{form.result}}
        </div>
      </form>
    </div>
  </div>
</section>

{% if resultado != None%}
  <section class="o-section">
    <div class="u-wrapper">
      <div class="c-table">
        <h2 class="o-h4">Resultados de palabras claves</h2>
        <div class="c-table__res">
          <div class="c-table__res__buttons">
            <button class="o-button o-button--dark" onClick="copySelectedRows(this)">Copiar seleccionadas</button>
            <button class="o-button o-button--dark" onClick="copyAllRows(this)">Copiar todas</button>
          </div>

          <table class="c-table__res__table">
            <thead>
              <tr>
                <th><abbr title="Palabra clabe">Keyword</abbr></th>
                <th><abbr title="Volumen de búsquedas">SV</abbr></th>
                <th><abbr title="Dificultad">Dif</abbr></th>
                <th><abbr title="Coste Por Clic">CPC</abbr></th>
                {% for fecha in meses_atras %}
                  <th><abbr title="{{fecha}}">{{fecha}}</abbr></th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
            {% for res in resultado %}
              <tr onClick="toggleSelected(this)">
                <td>{{res.keyword}}</td>
                <td>{{res.search_volume}}</td>
                <td>{{res.competition|ifnumbrefloat:2}}</td>
                <td>{{res.cpc|ifnumbrefloat:2}}</td>

                {% comment %} Resultados ordenados por fecha {% endcomment %}
                {% for das in meses_atras|get_value:res.monthly_searches %}
                  <td>{{das}}</td>
                {% endfor %}

              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
{% endif %}
{% endblock content %}

{% block scripts %}{% include 'dataforseo/includes/scripts.html' %}{% endblock scripts %}