{% extends 'core/main.html' %}
{% load dataforseo_extras %}
{% block title %}Habitant Seo{% endblock %}

{% block content %}
  {% if resultado == None%}
    <section class="c-header">
      <div class="c-header__container u-wrapper">
        <div class="c-header__content">
          <h1 class="o-h1">Keyword Finder</h1>
          <p class="o-subtitle u-text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
        </div>
      </div>
    </section>
  {% endif %}

  <section class="o-section o-section--bg-dark">
    <div class="u-wrapper u-wrapper--narrow"> 
      <div class="o-section__container">
        <form class="c-form-finder" id="keywordFinder" action="{% url 'dataforseo:keywordfinder' %}" method="post">{% csrf_token %}
          <div class="c-form-finder__group">
            <label class="">{{form.keyword.label}}</label>
            {{form.keyword}}
          </div>
          <div class="c-form-finder__group">
            <label class="" for="">{{form.language.label}}</label>
            {{form.language}}
          </div>
          <div class="c-form-finder__group">
            <label class="" for="">{{form.limit.label}}</label>
            {{form.limit}}
          </div>
          <div class="c-form-finder__group">
            <label class="" for="">{{form.depth.label}}</label>
            {{form.depth}}
          </div>
          <div class="c-form-finder__group">
            <button id="send_keywordFinder" class="o-button">Enviar</button>
          </div>
          <div class="u-hide">
            {{form.method}}
            <input type="text" class="u-hide" id="user" value="{{user.username}}" disabled>
            {{form.user}}
            {{form.filters}}
            {{form.result}}
          </div>
        </form>

        <div class="o-filter js-filters-group">
          <button class="o-button o-button--alt" onClick="addFilter(this)">Añadir filtro</button>
        </div>
      </div>
    </div>

    {% comment %} Resultado de la keyword deseada {% endcomment %}
    {% if resultado != None%}
    <div class="u-wrapper u-margin-top-60">
      <div class="o-section__container">
        <div class="c-table c-table--white">
          <h2 class="o-h4">Resultado de palabra clave</h2>
          <table class="c-table__res__table">
            <thead>
              <tr>
                <th><abbr title="Palabra clabe">Keyword</abbr></th>
                <th><abbr title="Volumen de búsquedas">SV</abbr></th>
                <th><abbr title="Dificultad">Dif</abbr></th>
                <th><abbr title="Coste Por Clic">CPC</abbr></th>
                {% for fecha in meses_atras %}
                  <th><abbr title="{{fecha}}">{{fecha}}</abbr></th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for method in resultado %}
                {% if forloop.first %}
                  {% for res in method.items %}
                    {% if res.keyword == method.seed_keyword %}
                      <tr onClick="toggleSelected(this)">
                        <td>{{res.keyword}}</td>
                        <td>{{res.keyword_info.search_volume}}</td>
                        <td>{{res.keyword_info.competition|ifnumbrefloat:2}}</td>
                        <td>{{res.keyword_info.cpc|ifnumbrefloat:2}}</td>

                        {% comment %} Resultados ordenados {% endcomment %}
                        {% for das in meses_atras|get_value:res.keyword_info.monthly_searches %}
                          <td>{{das}}</td>
                        {% endfor %}

                      </tr>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endif %}
    
  </section>

{% if resultado != None%}
  <section class="o-section">
    <div class="u-wrapper">
      <div class="o-tabs js-tabs">
        {% for method in resultado %}
          {% if forloop.first %}
            <div class="o-tabs__items is-selected" id="{{resultado|index:method}}">
              <span>{{method.name}}</span>
            </div>
          {% else %}
            <div class="o-tabs__items" id="{{resultado|index:method}}">
              <span>{{method.name}}</span>
            </div>
          {% endif %}
        {% endfor %}
      </div>
        
      {% for method in resultado %}
        {% if forloop.first %}
          <div class="c-table c-table--none is-active" id="table-{{resultado|index:method}}">
        {% else %}
          <div class="c-table c-table--none" id="table-{{resultado|index:method}}">
        {% endif %}
          <h2 class="o-h4">Palabras claves {{method.name}}</h2>
          {% if method.items != None %}
            <div class="c-table__res">
              <div class="c-table__res__buttons">
                <button class="o-button o-button--dark" onClick="copySelectedRows(this)">Copiar seleccionadas</button>
                <button class="o-button o-button--dark" onClick="copyAllRows(this)">Copiar todas</button>
              </div>

              <table class="c-table__res__table">
                <thead>
                  <tr>
                    <th><abbr title="Palabra clabe">Keyword</abbr></th>
                    <th><abbr title="Volumen de búsquedas">SV</abbr></th>
                    <th><abbr title="Dificultad">Dif</abbr></th>
                    <th><abbr title="Coste Por Clic">CPC</abbr></th>
                    {% for fecha in meses_atras %}
                      <th><abbr title="{{fecha}}">{{fecha}}</abbr></th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                {% for res in method.items %}
                  <tr onClick="toggleSelected(this)">
                    <td>{{res.keyword}}</td>
                    <td>{{res.keyword_info.search_volume}}</td>
                    <td>{{res.keyword_info.competition|ifnumbrefloat:2}}</td>
                    <td>{{res.keyword_info.cpc|ifnumbrefloat:2}}</td>

                    {% comment %} Resultados ordenados {% endcomment %}
                    {% for das in meses_atras|get_value:res.keyword_info.monthly_searches %}
                      <td>{{das}}</td>
                    {% endfor %}

                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          {% else %}
            <p>No se han encontrado resultados.</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}
{% endblock content %}

{% block scripts %}{% include 'dataforseo/includes/scripts.html' %}{% endblock scripts %}